body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.container {
    margin-top: 50px;
}
#countdown {
    font-size: 24px;
    font-weight: bold;
    color: #ff4081;
}
.chica {
    width: 150px;
    height: auto;
}

.mediana {
    width: 300px;
    height: auto;
}

.grande {
    width: 600px;
    height: auto;
}
